botonazul
{
	background-color: #ff99e6;

}

.botonverde
{
  background-color:   #ff4dd2 ;
}
	

.botonamarillo
{
background-color:  #ff00bf;
}
.botonvioleta
{
  background-color:   #990073;
}

body
{
 background-color:   #ffbb99;
} 